input[type='text'],
input[type='password'] {
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  outline: none;
}

input[type='text']:focus,
input[type='password']:focus {
  box-shadow: -10px 0px 20px 4px #6741d0, 0px 8px 15px 1px #c850c0,
    10px 0px 20px 4px #ffcc70, 0px -8px 15px 1px #c850c0;
}
